# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# PyInstaller
build/
dist/
*.spec

# Models and binaries
*.pth
*.exe

# OS
.DS_Store
Thumbs.db

# Большой датасет
vehicle_dataset/